.portfolio-footer {
  padding: 60px 20px 30px 20px;
  /* background: rgba(5, 5, 5, 0.8); */
  border-top: 1px solid var(--border);
  margin-top: 100px;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-brand {
  text-align: center;
}

.footer-brand h3 {
  font-size: 1.8rem;
  margin: 0 0 10px 0;
  letter-spacing: -1px;
}

.footer-brand p {
  color: var(--text-muted);
  font-size: 0.9rem;
}

.footer-socials {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-socials a {
  text-decoration: none;
  padding: 5px 0;
  position: relative;
}

.footer-socials a:hover {
  color: var(--nano-yellow);
}

/* Hover underline effect */
.footer-socials a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--nano-yellow);
  transition: 0.3s ease;
}

.footer-socials a:hover::after {
  width: 100%;
}

.footer-socials a img:hover{
  fill: var(--nano-yellow);
}

.linkedin{
  color: var(--nano-yellow);
  fill: var(--nano-yellow);
}

.footer-bottom {
  width: 100%;
  text-align: center;
  color: var(--text-muted);
  font-size: 0.8rem;
}

.footer-line {
  height: 1px;
  width: 100%;
  max-width: 200px;
  background: linear-gradient(90deg, transparent, var(--border), transparent);
  margin: 20px auto 0 auto;
}

#svg-icon-lkd, #svg-icon-yt, #svg-icon-inst, #svg-icon-x {
  width: 50px;
  filter: grayscale(100%) opacity(0.6);
  transition: filter 0.3s ease;
}

/* The hover state (Target: Nano-Banana Yellow) */
#svg-icon-lkd:hover {
  filter: invert(22%) sepia(77%) saturate(5716%) hue-rotate(198deg) brightness(94%) contrast(105%);
  opacity: 1;
}
#svg-icon-yt:hover{
  filter: invert(15%) sepia(88%) saturate(7487%) hue-rotate(344deg) brightness(101%) contrast(107%);
  opacity: 1;
}
#svg-icon-x:hover{
  filter: invert(49%) sepia(48%) saturate(3496%) hue-rotate(182deg) brightness(105%) contrast(94%);
  opacity: 1;
}
#svg-icon-inst:hover{
  filter: invert(15%) sepia(63%) saturate(6057%) hue-rotate(313deg) brightness(108%) contrast(110%);
  opacity: 1;
}